*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
  width: 80%;
  background-color:rgb(255, 230, 198) ;
  padding:30px;
  margin: auto;
}
.container h3{
  text-align: center;
  color: rgb(0, 0, 0);
}
.container p{
  text-align: center;
  color: rgb(0, 0, 0);
}